/* General */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
    height: 100px;

}

section{
    margin-top: 0px;
    padding-top: 0px;
}

.nav-links {
   display: flex;
   justify-content: center;
   flex: 2;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    padding: 10px 50px;

}

.splash {
    height: 30px;
    display: flex;
    color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.splash-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 30px;
}

.logo-container{
    left: 20px;
    display: flex;
    flex: 1;
}

.logo {
    height: 150px; 
    width: auto;
    
}

.splash-content {
    flex: 1;
    text-align: center;
}

.tagline {
    font-size: 20px;
    font-weight: bold;
    color: rgb(34, 159, 74); 
}

.splash-content p {
    font-size: 18px;
    margin-bottom: 15px;
}

.cart-icon{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.cart-icon img{
    width: 40px;
    height: auto;
    
}
.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left:auto;
}

.search-bar input {
    padding: 8px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 8px 15px;
    background-color: rgb(180, 228, 180);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modi{
    height: 10px;
    margin-right: 50px;
    
}

.modi-container{
    margin-top: 50px;
    text-align: right;
    
}
.modi-container a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: green;
}

/* For index page */

.featured-products{
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.featured-products p{
    font-size: 18px;
   
}

.featured-products a{
    text-decoration: none;
    font-size: 18px;
    color: green;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    text-align: center;
    
    
}
.product-grid a{
    color: black;
}

img{
    height: 200px;
    width: 200px;
}

/* Details pages */

.product-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.product-container {
    display: flex;
    gap: 30px;
    padding: 20px;
}

.product-image img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.details {
    list-style: none;
    padding: 0;
}

.details li {
    margin: 5px 0;
}

.add-to-cart {
    background-color: #64ca3f;
    color: black;
    padding: 10px 15px;
    border: none;
    font-size: 16px;
}

.back-to-shop {
    display: inline-block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

/* footer */
pre.copyright {
    font-family: monospace;
    white-space: pre;
    margin-top: 20px;
}

