body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    text-align: center;
}

header {
    background-color: #343a40;
    color: white;
    padding: 10px;
}

#introduction {
    background-color: #f8f9fa; 
    padding: 20px 30px; 
    max-width: 900px; 
    margin: 20px auto; 
    text-align: center; 
    font-size: 18px; 
    line-height: 1.6; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.restaurant {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin: 10px;
    text-align: left;
}


#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}


#menu img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}


#menu img.selected {
    width: 150px;
    height: 150px;
    transform: scale(1.2);
}


#dish-details {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
    display: none; 
}


#dish-details.visible {
    display: block;
}

nav {
    margin: 20px;
}

nav a {
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
