body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    text-align: center;
}

header {
    background-color: #343a40;
    color: white;
    padding: 10px;
}

#introduction {
    background-color: #f8f9fa;
    padding: 20px 30px;
    max-width: 900px;
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.restaurant-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    max-width: 800px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.restaurant {
    text-align: center;
    margin-bottom: 20px;
}


.menu-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}


.menu-container img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}


.menu-container img.selected {
    width: 150px;
    height: 150px;
    transform: scale(1.2);
}

.dish-details {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    display: none;
}

.dish-details:not(.hidden) {
    display: block;
}

nav {
    margin: 20px;
}

nav a {
    text-decoration: none;
    background-color: #18700d;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}