body {
    background-image: url("silverware.jpg");
    color: #404040;
    font-family: Georgia, Garamond, serif;
    font-size: 11pt;
}

h1, h2 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    text-decoration: underline;
}
h1 {
    text-align: center;
    font-size: 22pt;
}
h2 {
    text-align: left;
    font-size: 18pt;
    font-weight: normal;
    display: inline;
}

.line-spaces p{
    margin: 2px;
}

ul {
    list-style-image: url('pie_icon.gif');
}

span[title] {
    text-decoration: underline dotted;
    text-underline-offset: 4px;
}

.quote {
    background-color: #FFFFA8;
    font-style: italic;
    text-align: 10px;
    margin-left: 40px;
}

footer a {
    color: #A4A400;
    text-decoration: underline;
}

pre.copyright {
    font-family: monospace;
    white-space: pre;
    margin-top: 20px;
}
